<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Raport</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container" align="center">

    <h1>Wybierz rok za jaki ma być stworozny raport:</h1>
    <form th:action="@{/report}" method="post">
        <select  type="text" th:value="${year}" name="year" >
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>

        <select  type="text" th:value="${typ}" name="typ" >
            <option value="gfs100">GFS-100</option>
            <option value="gfs120">GFS-120</option>
        </select>
        <button  type="submit" class="btn btn-primary">Dodaj</button>
    </form>


    <!--    <table class="table table-striped table-bordered">-->
    <!--        <thead class="thead-dark">-->
    <!--        <tr>-->
    <!--            <th>typ</th>-->
    <!--            <th>sprzedaz</th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:each="c: ${listLiczarki}">-->
    <!--            <td th:text="${c.typ}">typ</td>-->
    <!--            <td th:text="${c.typ}">typ</td>-->
    <!--                    </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->

    <div align="left"><a  th:href="@{/}">Powrót do menu</a></div>
</div>

</body>
</html>