<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit</title>
</head>

<body>
<div><form action="#" th:action="@{/process_register}" th.object="${liczarki}" method="post"
>


<input type="hidden" th:value="${id}" id="id" name="id"/>
    <p>Typ:<input class="form-control" type="text" th:value="${typ}" id="typ" name="typ" /> </p>
    <p>Nr seryjny:<input class="form-control" type="text" th:value="${serial}" id="serial" name="serial" /> </p>

    <p> Stan:<select th:value="${state}" class="form-control" name="state" id="state">
        <option value="onSotck">Magazyn</option>
        <option value="sold">Sprzedane</option>
        <option value="released">Wydano</option></select></p>

    <button type="submit" class="btn btn-primary">Sign Up</button>


</form></div>


</body>
</html>