<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dodawanie </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Dodawanie produktu</h1>
    <form  th:action="@{/process_register}" th:object="${liczarki}" method="post">
    <table>

        <tr>
            <td>Typ:</td>
            <td ><select type="text" th:field="*{typ}" class="form-control mb-16 col-20">
                <option value="GFS-120">GFS-100</option>
                <option value="GFS-120">GFS-120</option>
                <option value="USF-51">USF-51</option></select></td>
        </tr>
        <tr>
            <td>Nr seryjny:</td>
            <td><input type="text" th:field="*{serial}"  class="form-control mb-16 col-20"/></td>

        </tr>
        <tr>
            <td>Stan</td>
            <td><select type="text" th:field="*{state}" class="form-control mb-16 col-20" >
                <option value="Magazyn">Magazyn</option>
                <option value="Sprzedane">Sprzedane</option>
                <option value="Wydano">Wydano</option></select></td>
        </tr>

    </table>

        <button type="submit" class="btn btn-primary">Dodaj</button>

    </form></div>


</body>
</html>