<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dodawanie </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Dodawanie produktu</h1>


    <form  th:action="@{/process_register}" th:object="${liczarki}" method="post"
    >
        <p>Typ:<input type="text" th:field="*{typ}" /> </p>
        <p>Nr seryjny:<input type="text" th:field="*{serial}"  /> </p>

       <p> Stan:<select type="text" th:field="*{state}"  >
           <option value="onSotck">Magazyn</option>
           <option value="sold">Sprzedane</option>
           <option value="released">Wydano</option></select></p>

        <button type="submit" class="btn btn-primary">Dodaj</button>


    </form></div>


</body>
</html>