<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu główne </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container" align="center">
<div>

    <body><h1>Menu </h1></body>
</div>
<div>
    <h3><a th:href="@{/form}"> Dodaj produkt</a></h3>
    <h3><a th:href="@{/liczarki}"> Lista liczarek</a></h3>
    <h3><a th:href="@{/display}"> Liczarki</a></h3>

</div>
    <form  th:action="@{/search}" method="post" action="#">
    <input type="text" th:name="keyword"/> &nbsp;
<!--    <input type="submit" class="btn btn-primary" />-->
    <button type="submit" class="btn btn-primary">Wyszukaj</button>

</form>
<p></p>

    <H4>Stan magazynowy</H4>


    <table  class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>TYP</th>
            <th>LICZBA</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c: ${list}">
            <td th:text="${c.typ}">id</td>
            <td th:text="${c.count}">typ</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>