<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu główne </title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container" align="center">
<div>

    <body><h1>Menu </h1></body>
</div>
<div>
    <h3><a th:href="@{/form}"> Dodaj produkt</a></h3>
    <h3><a th:href="@{/liczarki}"> Lista liczarek</a></h3>
    <h3><a th:href="@{/display}"> Liczarki</a></h3>

</div>
    <form  th:action="@{/search}" method="post" action="#">
    <input type="text" th:name="keyword"/> &nbsp;
<!--    <input type="submit" class="btn btn-primary" />-->
    <button type="submit" class="btn btn-primary">Wyszukaj</button>

</form>


<!--    <H4 align="left">Stan magazynowy</H4>-->
<!--    <table align="left" th:action="@{/stockStatus}" th:object="${stock}" method="GET">-->
<!--        <tr>-->
<!--            <td> GFS-100</td>-->
<!--            <td type="text" th:field="*{gfs100}"> </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td> GFS-120</td>-->
<!--            <td> </td>-->

        </tr>
    </table>
</div>
</body>
</html>