<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie </title>
</head>
<body><h1>Witam </h1></body>
<body>
<div>


</div>
<div>
    <h3><a th:href="@{/form}"> Dodaj produkt</a></h3>
    <h3><a th:href="@{/liczarki}"> Liczarki</a></h3>
    <h3><a th:href="@{/display}"> Liczarki</a></h3>

</div>



<form  th:action="@{/search}" method="post" action="#">
    <input type="text" th:name="keyword"/> &nbsp;
    <input type="submit" class="btn btn-primary" />
</form>
</body>
</html>