<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liczarki</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container" align="center">

    <h1>Lista liczarek</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>typ</th>
            <th>Stan</th>
            <th>Numer seryjny</th>
            <th>Data dodanie</th>
            <th>Akcja</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="c: ${listLiczarki}">
            <td th:text="${c.id}">id</td>
            <td th:text="${c.typ}">typ</td>
            <td th:text="${c.state}">state</td>
            <td th:text="${c.serial}">serial</td>
            <td th:text=" ${c.dateStamp}">data</td>
            <td>
                <a th:href="@{edit/{id}(id=${c.id})}">EDYCJA</a>
                        </td>
        </tr>
        </tbody>
    </table>

   <div align="left"><a  th:href="@{/}">Powrót do menu</a></div>
</div>

</body>
</html>