<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Raport</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container" align="center">

    <h1>Raport sprzedaży:
        <div th:text="${year}" > </div>
        <div th:text="${typ}" > </div></h1>




        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>miesiac</th>
                <th>sprzedaz</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c: ${sellreports}">
                <td th:text="${c.month}">typ</td>
                <td th:text="${c.sell}">typ</td>
                        </tr>
            </tbody>
        </table>

    <div align="left"><a  th:href="@{/}">Powrót do menu</a></div>
</div>

</body>
</html>